body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF

#MediaTray
    position: absolute
    top: 0
    right: 0
    height: 100%
    margin: 0
    width: 20%
